<app-template-lista titulo="Locais" subtitulo="Lista de locais cadastrados">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Estado</th>
      <th>Cidade</th>
      <th>Rua</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let local of locais" (click)="redirecionaParaEditar(local.id_local)">
      <td>{{ local.nome }}</td>
      <td>{{ local.estado }}</td>
      <td>{{ local.cidade }}</td>
      <td>{{ local.rua }}</td>
      <td>
        <a [routerLink]="['/local', local.id_local]">
          <button type="button" class="btn btn-primary">
            <i class="fa fa-cog"></i> Editar
          </button>
        </a>
        <button type="button" class="btn btn-danger" (click)="deleteLocal(local.id_local)">
          <i class="fa fa-trash-o"></i> Excluir
        </button>
      </td>
    </tr>
  </tbody>
</app-template-lista>