<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" routerLink="/home">
    <h2>
      <span class="badge badge-secondary">
        <i class="fa fa-coffee"></i> {{ title }}
      </span>
    </h2>
  </a>

  <ul class="navbar-nav">
    <li class="nav-item">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
          Eventos
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/evento">Cadastrar Evento</a>
          <a class="dropdown-item" routerLink="/listaEventos">Lista de Eventos</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <p class="text-dark">i</p>
    </li>
    <li class="nav-item">
      <div class="dropdown">
        <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown">
          Locais
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/local">Cadastrar Local</a>
          <a class="dropdown-item" routerLink="/listaLocais">Lista de Locais</a>
        </div>
      </div>
    </li>
    <li class="nav-item">
      <p class="text-dark">iuasbaiucbaiusbciuasbciuasbcjndcjdncjdncjiusabciusabciusabciuasbiucbsaiucbsaiucbsaib</p>
    </li>
    <li class="nav-item">
      <app-campo-pesquisa></app-campo-pesquisa>
    </li>
  </ul>
</nav>
