<div class="row">
  <div class="col-lg-12">
    <div id="search-component" style="position: fixed;">
      <div class="dropdown">
      <input #pesquisa class="form-control dropdown-toggle" data-toggle="dropdown" placeholder="Procurar..." (keyup)="pesquisar(pesquisa.value)" />

      <div class="dropdown-menu">
        <div *ngFor="let evento of eventos$ | async" style="text-align: left;">
          <a class="dropdown-item" routerLink="/evento/{{evento.id_evento}}">{{ evento.nome }}</a>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
