<footer>
  <p>© 2018<a style="color:#0a93a6; text-decoration:none;" href="https://www.linkedin.com/in/bruno-eduardo-a-soares-b74b89168/"> Bruno Eduardo</a>, All rights reserved 2018-2019.</p>
</footer>