<br/><br/>
<div class="row">
  <div class="col-lg-1"></div>

  <div class="col-lg-10">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">{{ titulo }}</h2>
        <h4 class="card-subtitle mb-2 text-muted">{{ subtitulo }}</h4>
      </div>

      <div class="card-body">
        <div class="container">
          <table class="table table-hover">
            <ng-content></ng-content>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-1"></div>
</div>