<br/><br/>
<div class="row">
  <div class="col-lg-2"></div>

  <div class="col-lg-8">
    <div class="card">
      <div class="card-header">
        <h1>{{ titulo }} | {{ nome }}</h1>
      </div>

      <div class="card-body" style="text-align: center;">
        <ng-content></ng-content>
      </div>
    </div>
  </div>

  <div class="col-lg-2"></div>
</div>