<app-template-formulario titulo={{titulo}} nome={{evento.nome}}>
  <form (ngSubmit)="enviar()">

    <div class="form-group">
      <input type="text" class="form-control" style="text-align: center" [(ngModel)]="evento.nome" maxlength="50"
        minlength="2" required placeholder="Nome do Evento" name="nome">
    </div>

    <div class="form-group">
      <select class="form-control" style="text-align: center" [(ngModel)]="evento.local.id_local" name="local" required>
        <option *ngFor="let local of locais" value={{local.id_local}} style="text-align: center">{{ local.nome }}</option>
      </select>
    </div>

    <div class="form-group">
      <input type="text" class="form-control" style="text-align: center" [(ngModel)]="evento.data" maxlength="10"
        minlength="10" required placeholder="Data do Evento" name="data">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" style="text-align: center" [(ngModel)]="evento.horario" maxlength="5"
        minlength="5" required placeholder="Horário do Evento" name="horario">
    </div>

    <div>
      <button type="submit" class="btn btn-success">
        <i class="fa fa-check"></i> Salvar
      </button>
    </div>
  </form>
</app-template-formulario>