<app-template-formulario titulo={{titulo}} nome={{local.nome}}>
  <form (ngSubmit)="enviar()">

    <div class="form-group">
      <input type="text" class="form-control" style="text-align: center" [(ngModel)]="local.nome" maxlength="50"
        minlength="2" required placeholder="Nome do Local" name="nome">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" style="text-align: center" [(ngModel)]="local.estado" maxlength="50"
        minlength="2" required placeholder="Estado" name="estado">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" style="text-align: center" [(ngModel)]="local.cidade" maxlength="50"
        minlength="2" required placeholder="Cidade" name="cidade">
    </div>

    <div class="form-group">
      <input type="text" class="form-control" style="text-align: center" [(ngModel)]="local.rua" maxlength="50"
        minlength="2" placeholder="Rua" name="rua">
    </div>

    <button type="submit" class="btn btn-success">
      <i class="fa fa-check"></i> Salvar
    </button>
  </form>
</app-template-formulario>