<app-template-lista titulo="Eventos" subtitulo="Lista de eventos cadastrados">
    <thead>
        <tr>
          <th>Nome</th>
          <th>Local</th>
          <th>Data</th>
          <th>Horário</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let evento of eventos" (click)="redirecionaParaEditar(evento.id_evento)">
          <td>{{ evento.nome }}</td>
          <td>{{ evento.local.nome }}</td>
          <td>{{ evento.data }}</td>
          <td>{{ evento.horario }}</td>
          <td>
            <a [routerLink]="['/evento', evento.id_evento]">
              <button type="button" class="btn btn-primary">
                <i class="fa fa-cog"></i> Editar
              </button>
            </a>
            <button type="button" class="btn btn-danger" (click)="deleteEvento(evento.id_evento)">
              <i class="fa fa-trash-o"></i> Excluir
            </button>
          </td>
        </tr>
      </tbody>
</app-template-lista>